@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body {
  font-family: "Roboto Mono", monospace;
  font-size: 19px;
  background: #16191b;
  color: #e2e6e8;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.frame {
  margin: 0.5rem;
  width: 400px;
}

span {
  color: #9fa2a3;
}

h3 {
  margin: 0;
}

iframe {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
